.container {
    min-height: 100vh;
    padding: 24px;
    background-color: #eee;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1px;
    font-size: 24px;
    text-align: center;
}

.elementItemStyle {
    font-weight: 600;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    cursor: pointer;
    text-transform: uppercase;
}

.elementItemStyle:hover {
    background-color: #ffffff;
    text-decoration: underline;
}

.detailPageStyle {
    text-align: left;
}

.detailPageTitle {
    text-transform: uppercase;
    font-size: 3em;
}

.detailPageDescription {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.75em;
    line-height: 1.5em;
}

.closeButtonStyle {
    font-size: 3em;
    border: none;
    background-color: transparent;
}
